* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 12px;
}

#root,
.index {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 12px;
}

.index header {
    width: 100%;
    height: 50px;
    background: #112f4c;
    display: flex;
    img {
        width: 30%;
        height: auto;
        display: block;
    }
    ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    li,
    a {
        flex: 1;
        color: #6b7d8f;
        text-decoration: none;
        text-align: center;
    }
    a.active {
        color: #fff;
    }
}

.index section {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.statistics {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    .left {
        width: 20%;
        height: 100%;
        ul {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        ul a {
            width: 100%;
            border-bottom: 1px solid #ccc;
            padding: 15px 5px;
            text-align: center;
            color: #6b7d8f;
            text-decoration: none;
        }
        a.active {
            color: #112f4c;
        }
    }
    .right {
        flex: 1;
        border: 3px solid #ccc;
    }
}

.reportChart {
    width: 100%;
    height: auto;
    position: relative;
    font-size: 12px;
    .top {
        width: 100%;
        position: relative;
        border-bottom: 5px solid #ccc;
        font-size: 12px;
        margin-top: 10px;
        padding-bottom: 10px;
        #main {
            margin-left: 30px;
        }
        input {
            position: absolute;
            right: 10px;
            top: 5px;
            text-indent: 3px;
        }
    }
}

.list {
    margin: 30px 10px 30px 30px;
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            font-size: 20px;
        }
    }
    .table {
        margin-top: 30px;
    }
}